.accordian-link {
  background: rgba(128, 128, 128, 0.3);
  padding: 20px;
  border: 1px solid rgba(128, 128, 128, 0.6)
}

.accordian-body {
  border: 1px solid rgba(128, 128, 128, 0.6)
}

.accordian-body p {
  padding: 10px;
}

.d-none {
  display: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover,
a:focus,
a:active {
  color: #0056b3;
}